@page

<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<h4 class="title text-center mb-3"><bold>Detached House</bold></h4>
<h6 class="text-center mb-3">โครงการเด่นของเรา</h6>

<div id="carouselTownhome" class="carousel slide mb-5" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselTownhome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselTownhome" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row" style="background-color: #DFD3CB;color: #564F45;text-align:center;">
                <div class="col-12 col-md-8">
                    <img class="pc" src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/03 Home_01 Home_03 Top Banner_PC - Ratirom Deluxe.jpg" style="width:100%" />
                    <img class="mobile" src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/03 Home_01 Home_03 Top Banner_Mobile - Ratirom Deluxe.jpg" style="width:100%" />
                    <div class="image-overlay-text-price mobile"><bold>เริ่มต้น 6.XX ล้าน</bold></div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/Ratirom Deluxe.png" style="width:100%" />
                    <div class="pc">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="mb-2">บ้านเดี่ยวหลังใหญ่</h1>
                        <h3>ในสังคมสุดส่วนตัว</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h2>ราคาเริ่มต้น 6.XX ล้านบาท</h2>
                    </div>
                    <div class="mobile mb-3">
                        <button type="button" class="dreamland-button" style="background-color: #8D8582 !important;" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row" style="background-color: #C6AB94;color: #7E5931;text-align:center;">
                <div class="col-12 col-md-8">
                    <img class="pc" src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/03 Home_01 Home_03 Top Banner_PC -Ratirom Fifth.jpg" style="width:100%" />
                    <img class="mobile" src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/03 Home_01 Home_03 Top Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />
                    <div class="image-overlay-text-price mobile"><bold>เริ่มต้น 4.99 ล้าน</bold></div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/Ratirom Fifth.png" style="width:100%" />
                    <div class="pc">
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="mb-2">บ้านเดี่ยวหลังใหญ่</h1>
                        <h3>สำหรับการเริ่มต้นครอบครัวที่อบอุ่น</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h2>ราคาเริ่มต้น 4.99 ล้านบาท</h2>
                    </div>
                </div>
                <div class="mobile mb-3">
                    <button type="button" class="dreamland-button" style="background-color: #906E52 !important;" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTownhome" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTownhome" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="section">
    <div class="row mx-3 mb-3">
        <div class="col-12">
            <span class="text-muted">โครงการบ้านเดี่ยว ของเรา อยู่ในทำเลทองย่านสวนผัก 32 เชื่อมต่อย่านราชพฤกษ์-พระราม 5 ราชพฤกษ์-ปิ่นเกล้า, บางกรวย, ตลิ่งชัน รายล้อมด้วยถนนใหญ่ 4 เส้นทางหลัก คือ ถนนราชพฤกษ์ ถนนบรมราชชนนี ถนนกาญจนาภิเษก และถนนพระราม 5 - นครอินทร์ เดินทางสู่ใจกลางเมืองได้สะดวก และยังมีทางพิเศษศรีรัช - วงแหวนรอบนอกที่ให้คุณเชื่อมต่อไปยังโซนจตุจักรได้อีกด้วย นอกจากนี้ บ้านเดี่ยว ของเรา ยังตั้งอยู่ท่ามกลางแหล่งช้อปปิ้ง มีสิ่งอำนวยความสะดวกครบครัน และ บ้านของเราทุกหลังสร้างขึ้นด้วยคุณภาพ ทั้งน่าอยู่ คงทน และเหมาะกับการอยู่อาศัยไม่ว่าเวลาจะผ่านไปยาวนานแค่ไหน เราคำนึงถึงอนาคตว่าเวลาผู้พักอาศัยเข้ามาอยู่จริงๆ แล้วต้องการอะไรที่จะทำให้การอยู่อาศัยนั้นสะดวกสบายที่สุด และยังมีสิ่งอำนวยความสะดวกที่เหนือระดับ โดดเด่นด้วยห้องน้ำขนาดใหญ่พร้อมแยกส่วนเปียกแห้ง เพดานสูง ห้องนอน Masterขนาดใหญ่พร้อมหน้าต่างสูงโปร่ง พิเศษด้วยการก่อสร้างแบบก่ออิฐฉาบปูนทั้งหลังเพื่อป้องกันปัญหาน้ำรั่วซึม บ้านเดี่ยวของเราจึงเป็นตัวเลือกที่เหมาะสมที่สุดสำหรับการเริ่มต้นครอบครัวของคุณ</span>
        </div>
    </div>
    <h4 class="title text-center mb-3"><bold>โครงการของเรา</bold></h4>
</div>
<div class="row mb-5">
    @foreach (var item in ViewBag.houseListView)
    {
        <div class="col-12 col-md-4 text-center mt-3">
            <div class="image-container">
                <a class="nav-link nav-link-head active" asp-area="" asp-controller="Project" asp-action="Index" asp-route-id="@item.Id">
                    <img src="@item.Image" width="360" height="240" />
                    @if (item.IsSoldOut == true)
                    {
                        <div class="image-overlay-background"></div>
                        <div class="image-overlay-text-centered "><bold>SOLD OUT</bold></div>
                    }
                </a>
            </div>
            <h4 class="mt-3"><bold>@item.Name</bold></h4>
            <h5>@Html.Raw(item.Caption)</h5>
            @if (item.IsSoldOut == true)
            {
                <h5 class="maincolor">@item.Price</h5>
            }
            else
            {
                <h5 class="text-danger">@item.Price</h5>
            }
        </div>
    }
</div>
<div class="section">
    <div class="row mt-3 mx-3">
        <div class="col-12">
            <span class="text-muted">โครงการบ้านเดี่ยว/บ้านแฝดคุณภาพ จาก Dreamland Property ไม่เพียงแค่โดดเด่นในด้านคุณภาพการก่อสร้าง และวัสดุที่ใช้โดยคำนึงถึงความสะดวกสบายเมื่ออยู่อาศัยจริงๆ แต่ทุกโครงการตั้งอยู่บนทำเลศักยภาพ การเดินทางเข้าออกสะดวก เชื่อมต่อถนนหลายสาย ไม่ว่าจะเป็น ถนนราชพฤกษ์ ถนนบรมราชชนนี ถนนกาญจนาภิเษก และถนนพระราม5-นครอินทร์ รายล้อมไปด้วยแหล่งช๊อปปิ้งมากมาย ทั้ง The Crystal SB, The Walk, Central ปิ่นเกล้า</span>
        </div>
    </div>
    <h4 class="title text-center mb-5"><bold>คุณภาพ ความคุ้มค่า ความอบอุ่น คือสิ่งที่เราใส่ใจมอบให้คุณ</bold></h4>
    <div class="row mx-3">
        <div class="col-12">
            <span class="text-muted">โครงการบ้านเดี่ยว โดยบริษัท ดรีมแลนด์ พร๊อพเพอร์ตี้ ตั้งอยู่บนทำเลศักยภาพ เชื่อมต่อย่านราชพฤกษ์-พระราม5,ราชพฤกษ์-ปิ่นเกล้า,ตลิ่งชัน,บางกรวย และใจกลางเมือง เข้าออกเมืองได้สะดวก รายล้อมด้วยสิ่งอำนวยความสะดวก และแหล่งช้อปปิ้งมากมาย บ้านทุกหลังของเราสร้างขึ้นด้วยความเอาใจใส่ เต็มเปี่ยมไปด้วยคุณภาพ และยังอุ่นใจได้ด้วยบริการหลังการขาย เพราะเราเชื่อว่า...ความสุขเริ่มต้นที่บ้าน</span>
        </div>
    </div>
</div>