@page

<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<h4 class="title text-center mb-3"><bold>Townhome</bold></h4>
<h6 class="text-center mb-3">โครงการเด่นของเรา</h6>

<div id="carouselTownhome" class="carousel slide mb-5" data-bs-ride="false">
    <div class="carousel-indicators pc">
        <button type="button" data-bs-target="#carouselTownhome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselTownhome" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row" style="background-color: #D2CECF;color: #000;text-align:center;">
                <div class="col-12 col-md-8">
                    <img class="pc" src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/02 Townhome_01 Townhome_01 Top Banner_PC -Dream Priva.jpg" style="width:100%" />
                    <img class="mobile" src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/02 Townhome_01 Townhome_01 Top Banner_Mobile - Dream Priva.jpg" style="width:100%" />
                    <div class="image-overlay-text-price mobile"><bold>เริ่มต้น 3.54 ล้าน</bold></div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/Dream Priva.png" style="width:100%" />
                    <div class="pc">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="mb-2">พรีเมี่ยมทาวน์โฮม</h1>
                        <h3>ที่ให้คุณมากกว่าใคร</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h2>ราคาเริ่มต้น 3.54 ล้านบาท</h2>
                    </div>
                    <div class="mobile mb-3">
                        <button type="button" class="dreamland-button" style="background-color: #A49389 !important;" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row" style="background-color: #BECCD8;color: #000;text-align:center;">
                <div class="col-12 col-md-8">
                    <img class="pc" src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/02 Townhome_01 Townhome_01 Top Banner_PC - Dream Deluxe.jpg" style="width:100%" />
                    <img class="mobile" src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/02 Townhome_01 Townhome_01 Top Banner_Mobile - Dream Deluxe.jpg" style="width:100%" />
                    <div class="image-overlay-text-price mobile"><bold>เริ่มต้น 2.89 ล้าน</bold></div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/Dream Deluxe.png" style="width:100%" />
                    <div class="pc">
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="mb-2">ทาวน์โฮมสไตร์บ้านเดี่ยว</h1>
                        <h3>กว้างกว่า..กับบ้านในฝันของคุณ</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h2>ราคาเริ่มต้น 2.89 ล้านบาท</h2>
                    </div>
                </div>
                <div class="mobile mb-3">
                    <button type="button" class="dreamland-button" style="background-color: #6587A3 !important;" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTownhome" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTownhome" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="section">
    <div class="row mx-3 mb-3">
        <div class="col-12">
            <span class="text-muted">หากคุณกำลังมองหาโครงการทาวน์โฮมแถวพระราม 5 โครงการของเราตั้งอยู่บนทำเลศักยภาพย่านสวนผัก 32 เชื่อมต่อไปยัง ย่านราชพฤกษ์ ปิ่นเกล้า, พระราม 5 และใจกลางเมืองได้ง่ายดาย คุ้มค่ากับทำเลคุณภาพ เราลงทุนในเรื่องของวัสดุชั้นดี แม้แต่ในจุดเล็กๆ น้อยๆ ไม่ว่าจะเป็น ขอบประตูหน้าต่าง หลังคา กระเบื้องนอกจากนี้เรายังเพิ่มในส่วนของหลังคาเมทัลชีทพร้อมรางน้ำฝนเพื่อเพิ่มความสะดวก และช่วยลูกบ้านประหยัดค่าใช้จ่าย สามารถป้องกันปัญหาหากมีการต่อเติมที่ไม่ได้มาตรฐาน</span>
        </div>
    </div>
    <h4 class="title text-center mb-3"><bold>โครงการของเรา</bold></h4>
</div>
<div class="row mb-5">
    @foreach (var item in ViewBag.townhomeListView)
    {
        <div class="col-12 col-md-4 text-center mt-3">
            <div class="image-container">
                <a class="nav-link nav-link-head active" asp-area="" asp-controller="Project" asp-action="Index" asp-route-id="@item.Id">
                    <img src="@item.Image" width="360" height="240" />
                    @if (item.IsSoldOut == true)
                    {
                        <div class="image-overlay-background"></div>
                        <div class="image-overlay-text-centered "><bold>SOLD OUT</bold></div>
                    }
                </a>
            </div>
            <h4 class="mt-3"><bold>@item.Name</bold></h4>
            <h5>@Html.Raw(item.Caption)</h5>
            @if (item.IsSoldOut == true)
            {
                <h5 class="maincolor">@item.Price</h5>
            }
            else
            {
                <h5 class="text-danger">@item.Price</h5>
            }
        </div>
    }
</div>
<div class="section">
    <div class="row mt-3 mx-3">
        <div class="col-12">
            <span class="text-muted">เพราะเราเอา”ใจของลูกค้า”มาใส่ใจของเรา โครงการทาวน์โฮมคุณภาพ จาก Dreamland Property จึงไม่เพียงแค่โดดเด่นทั้งในด้านคุณภาพการก่อสร้าง และวัสดุที่เราคัดสรรมาอย่างดี แต่ในด้านทำเลที่ตั้งก็โดดเด่น ตั้งอยู่บนทำเลศักยภาพย่านสวนผัก 32 การเดินทางเข้าออกสะดวก เชื่อมต่อถนนหลายสาย ไม่ว่าจะเป็น ถนนราชพฤกษ์ ถนนบรมราชชนนี ถนนกาญจนาภิเษก และถนนพระราม5-นครอินทร์ รายล้อมไปด้วยแหล่งช้อปปิ้งมากมาย ทั้ง The Crystal SB, The Walk, Central ปิ่นเกล้า ยิ่งไปกว่านั้นเราพร้อมดูแลลูกบ้านทุกหลังเหมือนคนในครอบครัว เราใส่ใจในการให้บริการหลังการขาย เพื่อความสุขสบายใจของลูกบ้าน Dreamland ทุกคน</span>
        </div>
    </div>
    <h4 class="title text-center mb-5"><bold>ความสุขบนพื้นที่ที่ใหญ่กว่า กับคุณภาพที่เราใส่ใจเพื่อคุณ</bold></h4>
    <div class="row mx-3">
        <div class="col-12">
            <span class="text-muted">โครงการทาวน์โฮมทั้งหมดของเรา ตั้งอยู่บนทำเลศักยภาพ สวนผัก 32 อันแสนสะดวก ไม่ว่าจะในเรื่องของการเดินทาง แหล่งของกิน และศูนย์การค้า เป็นย่านศูนย์กลางซึ่งเชื่อมต่อไปยัง ราชพฤกษ์, พระราม 5, ตลิ่งชัน, ปิ่นเกล้า, บางกรวย และราชพฤกษ์-สาทร การเชื่อมต่ออันหลากหลายจึงทำให้การเดินทางเข้าเมืองสะดวกอย่างมาก อีกทั้งโครงการทั้งหมดนี้เราเลือกใช้วัสดุคุณภาพสูง ตัวทาวน์โฮมมีโครงสร้างแข็งแรง อยู่ได้นานคงทนในระยะยาว อีกทั้งยังมีขนาดใหญ่ตั้งแต่ 20 ตารางวาขึ้นไป เพื่อให้ลูกบ้านสามารถใช้ประโยชน์จากพื้นที่ได้อย่างแท้จริง อยู่อาศัยแล้วรู้สึกสบาย ปลอดโปร่ง ไม่แออัด อีกทั้งเรายังดูแลลูกบ้านทุกโครงการด้วย “ใจ” พิสูจน์แล้ว จากบริการหลังการขาย และการยอมรับจากลูกบ้านทุกๆ โครงการ ที่แนะนำญาติ และเพื่อนๆ ให้มาซื้อบ้านกับเราอย่างมากมาย เรียกได้ว่าเรามีฐานลูกค้าที่มั่นใจในคุณภาพ และ บริการหลังการขายที่พร้อมช่วยเหลือลูกบ้านทุกๆ คนเสมอเมื่อเรียกใช้บริการ</span>
        </div>
    </div>
</div>