@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div id="carouselHome" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row" style="background-color: #D2CECF;color: #000;text-align:center;">
                <div class="col-12 col-md-8">
                    <img class="pc" src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/02 Townhome_01 Townhome_01 Top Banner_PC -Dream Priva.jpg" style="width:100%" />
                    <img class="mobile" src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/02 Townhome_01 Townhome_01 Top Banner_Mobile - Dream Priva.jpg" style="width:100%" />
                    <div class="image-overlay-text-price mobile"><bold>เริ่มต้น 3.54 ล้าน</bold></div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/Dream Priva.png" style="width:100%" />
                    <div class="pc">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="mb-2">พรีเมียมทาวน์โฮม</h1>
                        <h3>ที่ให้คุณมากกว่าใคร</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h2>ราคาเริ่มต้น 3.54 ล้านบาท</h2>
                    </div>
                    <div class="mobile mb-3">
                        <button type="button" class="dreamland-button" style="background-color: #A49389 !important;" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row" style="background-color: #DFD3CB;color: #564F45;text-align:center;">
                <div class="col-12 col-md-8">
                    <img class="pc" src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/03 Home_01 Home_03 Top Banner_PC - Ratirom Deluxe.jpg" style="width:100%" />
                    <img class="mobile" src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/03 Home_01 Home_03 Top Banner_Mobile - Ratirom Deluxe.jpg" style="width:100%" />
                    <div class="image-overlay-text-price mobile"><bold>เริ่มต้น 6.XX ล้าน</bold></div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/Ratirom Deluxe.png" style="width:100%" />
                    <div class="pc">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="mb-2">บ้านเดี่ยวหลังใหญ่</h1>
                        <h3>ในสังคมสุดส่วนตัว</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h2>ราคาเริ่มต้น 6.XX ล้านบาท</h2>
                    </div>
                    <div class="mobile mb-3">
                        <button type="button" class="dreamland-button" style="background-color: #8D8582 !important;" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row" style="background-color: #BECCD8;color: #000;text-align:center;">
                <div class="col-12 col-md-8">
                    <img class="pc" src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/02 Townhome_01 Townhome_01 Top Banner_PC - Dream Deluxe.jpg" style="width:100%" />
                    <img class="mobile" src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/02 Townhome_01 Townhome_01 Top Banner_Mobile - Dream Deluxe.jpg" style="width:100%" />
                    <div class="image-overlay-text-price mobile"><bold>เริ่มต้น 2.89 ล้าน</bold></div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/images/slider/1059E2CC-08A2-4366-9924-25ED76B751B8/Dream Deluxe.png" style="width:100%" />
                    <div class="pc">
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="mb-2">ทาวน์โฮมสไตร์บ้านเดี่ยว</h1>
                        <h3>กว้างกว่า..กับบ้านในฝันของคุณ</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h2>ราคาเริ่มต้น 2.89 ล้านบาท</h2>
                    </div>
                </div>
                <div class="mobile mb-3">
                    <button type="button" class="dreamland-button" style="background-color: #6587A3 !important;" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row" style="background-color: #C6AB94;color: #7E5931;text-align:center;">
                <div class="col-12 col-md-8">
                    <img class="pc" src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/03 Home_01 Home_03 Top Banner_PC -Ratirom Fifth.jpg" style="width:100%" />
                    <img class="mobile" src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/03 Home_01 Home_03 Top Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />
                    <div class="image-overlay-text-price mobile"><bold>เริ่มต้น 4.99 ล้าน</bold></div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/images/slider/712C49EF-081D-451A-BC22-5730A16D52D6/Ratirom Fifth.png" style="width:100%" />
                    <div class="pc">
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 class="mb-2">บ้านเดี่ยวหลังใหญ่</h1>
                        <h3>สำหรับการเริ่มต้นครอบครัวที่อบอุ่น</h3>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h2>ราคาเริ่มต้น 4.99 ล้านบาท</h2>
                    </div>
                </div>
                <div class="mobile mb-3">
                    <button type="button" class="dreamland-button" style="background-color: #906E52 !important;" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="section-highlight">
    <div>
        <h3 class="title text-center">เรื่องดีๆ ที่เราอยากเล่า</h3>
        <hr class="mainsection" />
        <div class="row mx-1">
            @foreach (var item in ViewBag.highLight)
            {
                @if (item.Pin == 1 || item.Pin == 2)
                {
                    <div class="col-12 col-md-6 mt-3">
                        <a href="@Url.Action("Page", "Post" , new { id = item.Id })"><img src="@item.TitleImage" style="width:100%"></a>
                        <a href="@Url.Action("Page", "Post" , new { id = item.Id })"><h4 class="maincolor mt-3">@item.Name</h4></a>
                        <span>@Html.Raw(item.Description)</span>
                    </div>
                }
                else
                {
                    <div class="col-12 col-md-4 mt-3">
                        <a href="@Url.Action("Page", "Post" , new { id = item.Id })"><img src="@item.TitleImage" style="width:100%"></a>
                        <a href="@Url.Action("Page", "Post" , new { id = item.Id })"><h4 class="maincolor mt-3">@item.Name</h4></a>
                        <span>@Html.Raw(item.Description)</span>
                    </div>
                }
            }
        </div>
        <button type="button" class="dreamland-button" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
    </div>
</div>

<div class="section-legacy">
    <div>
        <h3 class="title text-center">เรื่องราวของเรา</h3>
        <hr class="mainsection" />
        <div class="cards">
            <div class="card">
                <img src="~/images/legacy/leftback.jpg" class="img-back">
                <img src="~/images/legacy/leftfront.jpg" class="img-top" onclick="location.href='@Url.Action("Index", "OurDream")'">
            </div>
            <div class="card">
                <img src="~/images/legacy/middleback.jpg" class="img-back">
                <img src="~/images/legacy/middlefront.jpg" class="img-top" onclick="location.href='@Url.Action("Index", "OurCompany")'">
            </div>
            <div class="card">
                <img src="~/images/legacy/rightback.jpg" class="img-back">
                <img src="~/images/legacy/rightfront.jpg" class="img-top" onclick="location.href='@Url.Action("Index", "OurKingdom")'">
            </div>
        </div>
        <p class="text-center text-muted">เราสร้างบ้านคุณเหมือนเราสร้างบ้านเรา และดูแลความฝันของคุณเหมือนความฝันของเรา</p>
        <h5 class="maincolor text-center">"เพราะเราเชื่อว่า....ความสุขเริ่มต้นที่บ้าน"</h5>
        <button type="button" class="dreamland-button" onclick="location.href='@Url.Action("Index", "OurDream")'">Read More</button>
    </div>
</div>